# 默认忽略的文件
/shelf/
/workspace.xml
/.vscode/
/875/
/ac-library/
/cmake-build-debug/
/CMakeLists.txt
/mk.sh
/qrun.sh
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
